!!!
%html{"ng-app" => 'TypingApp'}
  %head
    %title Typing Speed Application
    %link(rel="stylesheet" href="http://yui.yahooapis.com/2.8.0r4/build/reset/reset-min.css")
    %link(rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css")
    -# %link(rel="stylesheet" href="styles/style.css")
  %body
    %div(class="container")
      %div(class="page-header")
        %div(class="row")
          %div(class="col-sm-6")
            %a{"class"=>"navbar-brand", "href"=>"#"} Typing Speed App
          %div(class="col-sm-6")
            %div(class="pull-right")
              %ul{"class"=>"nav nav-pills"}
                %li
                  %a{"class"=>"btn","ui-sref"=>"home"} Home
                %li
                  %a{"class"=>"btn","ui-sref"=>"about"} About
                %li
                  %a{"class"=>"btn","ui-sref"=>"login"} Login
                %li
                  %a{"class"=>"btn","ui-sref"=>"register"} Register
    
    %div(class="container")
      %div(class="panel-body")
        #content
          %div{"ui-view"=>true}


      
   

      #footer
        %div(class="panel-footer")
          %p
            This is the footer.
    %script(src="bower_components/jquery/dist/jquery.min.js")
    %script(src="bower_components/angular/angular.min.js")
    %script(src="bower_components/angular-ui-router/release/angular-ui-router.min.js")
    %script(src="bower_components/bootstrap/dist/js/bootstrap.min.js")
    %script(src="scripts/app.js")

    -# Controllers
    %script(src="scripts/controllers/HomeCtrl.js")
    %script(src="scripts/controllers/AboutCtrl.js")
    %script(src="scripts/controllers/LoginCtrl.js")
    %script(src="scripts/controllers/RegisterCtrl.js")
    %script(src="scripts/controllers/AppCtrl.js")

    -# Services Loading
    %script(src="scripts/services/RegistrationService.js")
    %script(src="scripts/services/LoginService.js")
    %script(src="scripts/services/AppService.js")

